.nav-root {
    background: rgba(0, 0, 0, 0.8);
    height: 45px;
    max-height: 45px;
    width: 100%;
    user-select: none;
    z-index: 9999;
    position: fixed;
}

.nav-root .expanded {
    background-color: black;
}

.nav-root-content-root {
    display: flex;
    justify-content: center;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    min-width: 980px;
}

.nav-item-root {
    color: #f5f5f7;
    font-size: 12px;
    opacity: 0.8;
    cursor: pointer;
    min-height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: opacity 0.3s;
}

.nav-item-root:hover {
    transition: opacity 0.3s;
    opacity: 1;
}

.nav-content-collapsed {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-button-root {
    cursor: pointer;
    color: #f5f5f7;
    display: flex;
    align-items: center;
    min-height: 45px;
    transition: opacity 0.3s;
    font-size: 17px;
    opacity: 0.8;
    width: 15px;
    height: 15px;
}

.nav-button-root:hover {
    transition: opacity 0.3s;
    opacity: 1;
}

.nav-dropdown-root {
    background: rgba(0, 0, 0, 0.8);
    height: 0vh;
    overflow: hidden;
    transition: height 0.5s ease;
}

.nav-dropdown-root.expanded {
    transition: height 0.5s ease;
    height: 100vh;
    background-color: black;
}

.nav-dropdown-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2em;
    line-height: 2em;
    padding: 5px;
}

.nav-dropdown-input-root {
    flex-grow: 1;
    border-radius: 8px;
    background-color: #1d1d1f;
    position: relative;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-dropdown-input-logo {
    margin-left: 15px;
    margin-right: 15px;
}

.nav-dropdown-input-logo.clickable {
    cursor: pointer;
}

.nav-dropdown-input-logo.hidden {
    display: none;
}

.nav-dropdown-input {
    width: 100%;
    font-size: 17px;
    height: 1.7em;
    outline: none;
    border: none;
    background-color: transparent;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    color: white;
}

@media screen and (max-width: 768px) {
    .nav-content {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .nav-content-collapsed {
        display: none;
    }
}
